.card {
  border-radius: 1.875rem; 
  padding: 1rem; 
  width: 21.875rem; 
  height: 26.4375rem; 
  background-color: #fff;
  display: grid;
  grid-template-areas:
    "image image image"
    "title title price"
    "rate rate buy";
  row-gap: 0.3125rem; 
}

.image {
  width: 13.75rem; 
  height: 14.8125rem; 
  justify-self: center;
  grid-area: image;
  object-fit: contain; 
}

.title {
  font-size: 1.0625rem; 
  margin: 0;
  grid-area: title;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  align-self: center; 
}

.price {
  font-weight: bold;
  margin: 0;
  grid-area: price;
  justify-self: end; 
  align-self: center;
  color: #FFA542;
  font-family: 'Montserrat', sans-serif;
  width: 3.7875rem;
  height: 1.3125rem; 
  font-weight: 600;
  font-size: 1.0625rem; 
  line-height: 100%;
  letter-spacing: 0%;
}

.rating {
  display: flex;
  align-items: center;
  gap: 0,2352rem;
  grid-area: rate;
}

.ratingText {
  font-size: 1.0625rem; 
  font-family: 'Montserrat', sans-serif;
  color: #838383;
}

.buy {
  grid-area: buy;
  justify-self: end; 
  align-self: center;
  width: 4.0625rem; 
  height: 1.3125rem; 
  top: 491.35px;
  left: 449px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.0625rem; 
  font-weight: 600;
}

.buy:hover{
  text-decoration: underline;
}


.detailButton {
  background: none;
  border: none;
  color: gray;
  font-size: 0.875rem;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 1em;
  text-align: start;
  white-space: nowrap;
  margin-top: 1em;
}
.detailButton:hover {
  text-decoration: underline;
}

