.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.content {
  background: white;
  padding: 1.25rem; 
  border-radius: 0.5rem; 
  max-width: 31.25rem;
  width: 100%;
  position: relative;
  font-size: 1.0625rem; 
  font-weight: 500;
}


@media (max-width: 768px) {
  .content {
    padding: 1rem; 
    max-width: 90%;
    font-size: 1rem; 
  }
}

.closeButton {
  position: absolute;
  top: 0.625rem; 
  right: 0.625rem; 
  background: none;
  border: none;
  font-size: 1.25rem; 
  cursor: pointer;
}