.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg-color);
  text-align: center;
}

.notFound h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.notFound p {
  font-size: 1.25rem;
}
