.catalog-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}


.catalog-main {
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  flex: 1;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.headphones-section h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color:#838383;
  width: 114px;
  height: 24px;
  top: 88px;
  left: 182px;
}

.wirelessHeadphones-section h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  color:#838383;
  width: 567px;
  height: 23.95044708251953px;

  
}
