.catalog-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

.catalog-main {
  padding: 1.25rem; 
  display: flex;
  gap: 1.25rem;    
  flex-direction: column;
  flex: 1;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 1.25rem;
}

.headphones-section h5,
.wirelessHeadphones-section h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.9375rem; 
  color: #838383;
}

@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
  }
  .catalog-main {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr)); 
  }
  .catalog-main {
    padding: 1rem;
  }
}
